$font: "Open Sans", sans-serif;
$text-color: #2d3436;
$blue: #193b8a;
$activeBlue: #3b78c2;
$borderColor: #2c4682;
$blue-light: #6dcff6;
$white: #fff;
$orange: #ee8e75;
$grey: #9eacb9;
$transition: all 0.4s ease;
