* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #2d3436;
  font-weight: 500;
  overflow-x: hidden;
}

a,
button {
  transition: all 0.4s ease;
  text-decoration: none;
  outline: 0 !important;
}

.btn:focus {
  box-shadow: none;
}

.text-blue {
  color: #193b8a;
}

.svg-icon {
  height: 2rem;
  width: 2rem;
  fill: currentColor;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-start {
  display: flex;
  align-items: flex-start;
}

.place-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  background: #ee8e75;
}

header {
  position: sticky;
  top: 0;
  background: #193b8a;
  padding-bottom: 1rem;
}
header .logo svg {
  height: 3.5rem;
  width: 4rem;
}
@media only screen and (max-width: 767px) {
  header {
    padding-bottom: 0;
  }
  header .logo {
    padding: 1rem 0;
  }
}

.navbar-toggler {
  background: #6dcff6;
  border-radius: 0;
  border: 0;
  box-shadow: none !important;
}

.navbar-collapse .nav-item .nav-link {
  position: relative;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 700;
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}
.navbar-collapse .nav-item .nav-link::after {
  content: "";
  position: absolute;
  height: 3rem;
  width: 0.1rem;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #2c4682;
}
.navbar-collapse .nav-item .nav-link p {
  height: 3rem;
}
.navbar-collapse .nav-item .nav-link svg {
  height: 3rem;
  width: 3rem;
  margin: 0.5rem 0;
}
@media only screen and (max-width: 767px) {
  .navbar-collapse .nav-item .nav-link {
    flex-direction: row;
    border-top: 0.1rem solid #2c4682;
    padding: 1rem 2rem;
  }
  .navbar-collapse .nav-item .nav-link p {
    flex-direction: row !important;
  }
  .navbar-collapse .nav-item .nav-link .product-title {
    display: flex;
    align-items: center;
  }
  .navbar-collapse .nav-item .nav-link svg {
    margin: 0 1rem 0 0;
    height: 2rem;
    width: 2rem;
  }
}
.navbar-collapse .dropdown .dropdown-toggle::after {
  content: none;
}
@media only screen and (max-width: 767px) {
  .navbar-collapse {
    position: fixed !important;
    left: 0;
    transform: translateX(-100%);
    width: 100%;
    overflow-y: auto;
    background: #193b8a;
    top: 5rem;
    min-width: auto;
    height: 100vh;
    transition: transform 0.3s ease-in-out;
  }
  .navbar-collapse.open {
    transform: none;
  }
}

.social-links {
  background: #fff;
  padding: 1rem;
  column-gap: 0.8rem;
  border-radius: 0 0 40% 40%;
  margin-top: -0.5rem;
}
.social-links svg {
  height: 1.6rem;
  width: 1.6rem;
}
@media only screen and (max-width: 767px) {
  .social-links {
    background: #193b8a;
    border-radius: 0;
    padding: 1rem 2rem;
    column-gap: 2rem;
    border-top: 0.1rem solid #2c4682;
  }
  .social-links a {
    color: #fff;
  }
  .social-links a svg {
    height: 2rem;
    width: 2rem;
  }
}

.search .btn {
  height: 3.4rem;
  width: 3.4rem;
  border: 0;
  margin: auto;
  background: #ee8e75;
}
.search .btn svg {
  height: 2rem;
  width: 2rem;
}
@media only screen and (max-width: 767px) {
  .search .btn {
    height: 2.8rem;
    width: 2.8rem;
  }
}

.header-dropdown {
  max-width: 90%;
  left: 0;
  right: 0;
  margin: auto;
  border: 0;
  border-radius: 0.8rem;
  background: #fff;
  top: 120% !important;
  padding: 2rem;
}
.header-dropdown::before {
  content: "";
  position: absolute;
  z-index: 10;
  top: -1.4rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 30%;
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-bottom: 1.5rem solid #fff;
}
.header-dropdown .dropdown-container {
  row-gap: 3rem;
}
.header-dropdown .dropdown-container h3 {
  font-size: 2rem;
}
.header-dropdown .dropdown-container p {
  font-size: 1.4rem;
  color: #9eacb9;
}
.header-dropdown .dropdown-container figure {
  min-height: 5rem;
}
.header-dropdown .dropdown-container figure img {
  max-height: 10rem;
}
@media only screen and (max-width: 767px) {
  .header-dropdown {
    max-width: 100%;
    border-radius: 0;
  }
  .header-dropdown::before {
    content: none;
  }
}

.nav-link[aria-expanded=true] .arrow-down {
  rotate: 180deg;
}
.nav-link[aria-expanded=false] .arrow-down {
  rotate: 0deg;
}

@media only screen and (min-width: 768px) {
  .dropdown .dropdown-menu.show {
    display: none;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .navbar-toggler {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
